# ignore a single file
# mycode.class

# ignore an entire directory
# /mydebugdir/

# ignore a file type
*.json
*.p12

# add an exception (using !) to the preceding rule to track a specific file
# !package.json